@media(max-width:768px){
    .row {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: aliceblue;
        padding: 12px 0;
        

    }
}

@media (min-width: 768px) {
    .row {
        flex-direction: column; 
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0; 
        width: 30px;
        height: 100vh;
        padding: 20px 0;
        gap: 110 px;
    }
}